//
//  Config.xcconfig
//  DynamOCGenerator
//
//  Created by Xuhui on 20/03/2017.
//  Copyright © 2017 hui xu. All rights reserved.
//
CLANG_PATH = ~/code/llvm/tools/clang

USER_HEADER_SEARCH_PATHS = "$(SRCROOT)/llvm/tools/clang/include/**"

LIBRARY_SEARCH_PATHS = "$(DEVELOPER_DIR)/Toolchains/XcodeDefault.xctoolchain/usr/lib"

LD_RUNPATH_SEARCH_PATHS = "$(DEVELOPER_DIR)/Toolchains/XcodeDefault.xctoolchain/usr/lib"









